/* Write your CSS here */
.bgcontainer {
  padding: 15px;
  height: 100vh;
  width: 100vw;
}

.userfillcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 29px;
}

.heading {
  font-family: 'Roboto';
}

.companyparagraph {
  font-family: 'Roboto';
  color: #1e293b;
}

.userinput {
  height: 25px;
  margin-bottom: 9px;
}

.Addcommmentbutton {
  background-color: #0284c7;
  border-radius: 3px;
  border-width: 0px;
  border-color: transparent;
  color: white;
  font-family: 'Roboto';
  padding: 5px;
  margin-top: 4px;
  cursor: pointer;
}

.imagecontainer {
  padding-top: 19px;
}

.commentimage {
  height: 200px;
  width: 300px;
}

.countcomment {
  margin-left: 12px;
  margin-bottom: 70px;
}

.commentcountcontainer {
  display: flex;
  margin-left: 30px;
}

.countcontainer {
  background-color: #0284c7;
  border-radius: 2px;
  height: 20px;
  width: 20px;
  color: white;
  font-family: 'Roboto';
  text-align: center;
  margin-top: 18px;
}
